*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/androidApp/build
/composeApp/build
/iosApp/iosApp/GoogleService-Info.plist
SECURITY_REPORT.md
.kotlin
iosApp/Pods/
/androidApp/google-services.json
/signin/build/
/barcodeScanner/build/